<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <amazonlogin>
                <active>0</active>
                <model>Amazon\Payment\Model\Method\AmazonLoginMethod</model>
                <order_status>pending</order_status>
                <title>Amazon Payment</title>
                <allowspecific>0</allowspecific>
            </amazonlogin>
        </payment>
    </default>
</config>